.about {
    padding: 50px;
    background-color: #ffe6e6;
    text-align: center;
}

.about h2 {
    font-size: 2.5em;
}

.about p {
    font-size: 1.2em;
    margin-top: 20px;
    line-height: 1.8;
}